@import url('https://fonts.googleapis.com/css?family=Sarina');

a {
	color: inherit;
	text-decoration: inherit;
}

body, html {
	background-color: #212121;
	color: #FFF;
	cursor: default;
	font: 18px sans-serif;
	height: 100%;
	margin: 0px;
	width: 100%;
}

.jb-page_content {
	margin-left: 48px;
	margin-right: 12px;
}
