@import url('https://fonts.googleapis.com/css?family=Niconne');

h1 {
	font-family: 'Niconne', cursive;
	font-size: 24px;
	font-weight: 300;
	margin: 0px;
	padding: 60px 0px 0px 0px;
}

h1>span {
	font-family: 'Sarina', cursive;
	display: inline-block;
	padding: 0px 6px;
}

p {
	font-size: 18px;
	letter-spacing: 1px;
}

.jb-nav {
	font-size: 18px;
}

.jb-page_content {
	padding-bottom: 240px;
}

@media only screen and (min-width: 480px) {
	h1 {
		font-size: 48px;
	}

	p {
		font-size: 24px;
	}
}